<% title("Events") %>

<p><%= link_to "New Event", new_admin_event_path %></p>

<% form_for @search do |f| %>
  <p>
    <%= f.text_field :name_or_summary_or_main_content_like %>
    <%= f.submit "Search" %>
  </p>
<% end %>

<%= eskimo_table({:columns => ["name", ["Start Date", lambda{|event| simple_date_format(event.start_date) if event.start_date}, "start_date"], ["Start Time", lambda{|event| event.start_time.strftime("%H:%M:%S")}, "start_time"], ["End Date", lambda{|event| simple_date_format(event.end_date) if event.end_date}, "end_date"], ["End Time", lambda{|event| event.end_time.strftime("%H:%M:%S")}, "end_time"], ["Display", lambda{|x| x.display? ? 'Yes' : 'No' }, "display"]], :list => @events, :images => true, :lowlight => lambda{|event| !event.active?}, :highlight => lambda{|event| event.highlight?}}) %>
