<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3><%= @name %> has filled in the contact us form.</h3>
    <h3>Contact Details:</h3>
    <% if @tel && !@tel.blank? %>
      <strong>Telephone: </strong> <%= @tel %><br />
    <% end %>
    <% if @email && !@email.blank? %>
      <strong>Email: </strong> <%= auto_link @email %><br />
    <% end %>
    <h3>Enquiry:</h3>
    <%= @enquiry %>
  </body>
</html>