<% hide_left %>
<% hide_flash %>

<h1><%= title("Thank You") %></h1>

<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>

<% content_for :right do %>
	<%= render "/shared/common_right" %>
<% end %>
